<!DOCTYPE html>
<html lang="en">


<!-- index22:59-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  
    <link rel="shortcut" type="image/x-icon"  href= "{{ url_for('static',filename='../static/assets/img/favicon.ico') }}">
    <title>Hospital Management System</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='../static/assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='../static/assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='../static/assets/css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<style>
    #dob_formatted {
        color: green;
    }
    .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 50px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.9);
        }
        .modal-content {
            margin: auto;
            display: block;
            max-width: 800px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }
        .img-class {
            width: 100%;
            height: auto;
        }
        .close {
            position: absolute;
            top: 80px;
            right: 35px;
            color: #f1f1f1;
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
        }
</style>
<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a href="index-2.html" class="logo">
                <img src="{{ url_for('static',filename='../static/assets/img/logo.png')}}" width="35" height="35" alt=""> <span>HMS</span>
            </a>
        </div>
        <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="{{ url_for('static',filename='../static/assets/img/user.jpg')}}" class="img-fluid">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">L</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">G</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
												<p class="noti-time"><span class="notification-time">2 days ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
        <li class="nav-item dropdown d-none d-sm-block">
            <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right">8</span></a>
        </li>
        <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                <span class="user-img">
                    <img class="rounded-circle" src="{{ url_for('static',filename='../static/assets/img/user.jpg')}}" width="24" alt="Admin">
                    <span class="status online"></span>
                </span>
                <span>Doctor</span>
            </a>
            <div class="dropdown-menu">
    
                <a class="dropdown-item" href="/edit_profile">My Profile</a>
                <a class="dropdown-item" href="/login">Logout</a>
            </div>
        </li>
    </ul>
    <div class="dropdown mobile-user-menu float-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="profile.html">My Profile</a>
            <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
            <a class="dropdown-item" href="settings.html">Settings</a>
            <a class="dropdown-item" href="/public.login">Logout</a>
        </div>
    </div>
</div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li >
                            <a href="/doctor_home"><i class="fa fa-user"></i> <span>Appointments</span></a>
                        </li>
						<li class="active">
                            <a href="/request_view"><i class="fa fa-user-md"></i> <span>MRI Request</span></a>
                        </li>
                       
                    
                      
                    </li> 
                </ul>
            </li>
        </ul>
    </div>
</div>
</div>



<div class="page-wrapper">
    <div class="content">


<div class="row">
    <div class="col-12 col-md-8 col-lg-8 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title d-inline-block">Pending MRI Request</h4>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="d-none">
                            <tr>
                                <th>Patient Name</th>
                                <th>Doctor Name</th>
                                <th>Timing</th>
                                <th>Symptoms</th>
                                <th>MRI Report</th>
                                <th>View MRI</th>
                                <th class="text-right">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in data %}
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" >{{ appointment['appointment_id'] }}</a>
                                    <h2><a style="text-transform: capitalize;" href="#">{{ appointment['first_name'] }} {{ appointment['last_name'] }} <span>{{ appointment.country }}</span></a></h2>
                                </td>                 
                                <td>
                                    <h5 class="time-title p-0">Appointment On</h5>
                                    <p>{{appointment['appointment_date']}}</p>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>{{ appointment['appointment_time'] }} </p>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Symptom</h5>
                                    <p>{{ appointment['symptoms'] }} </p>
                                </td><td>
                                
                             
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
       

<!--          
<tbody>
  {% for appointment in data %}
    <tr>
      <td></td>
      <td>{{ appointment['patient_id'] }}</td>
      <td>{{ appointment['doctor_id'] }}</td>
      <td>{{ appointment['detection'] }}</td>
      <td>{{ appointment['appointment_date'] }}</td>
      <td>{{ appointment['appointment_time'] }}</td>
      <td>{{ appointment['symptoms'] }}</td>
      <td>{{ appointment['created_at'] }}</td>
      <td>{{ appointment['appointment_status'] }}</td>
    </tr>
  {% endfor %}
</tbody>
</table>

<h2>Patients</h2>

<table>
<thead>
  <tr>
    <th>Patient ID</th>
    <th>Login ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Date of Birth</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Country</th>
    <th>City</th>
    <th>State</th>
    <th>Postal Code</th>
    <th>Additional Address</th>
    <th>Phone</th>
    <th>Status</th>
    <th>Created At</th>
  </tr>
</thead>
<tbody>
    {% for patient in data %}
    <tr>
    <td>{{ patient['patient_id'] }}</td>
    <td>{{ patient['first_name'] }} {{ patient['last_name'] }}</td>
      <td>{{ patient.email }}</td>
      <td>{{ patient.date_of_birth }}</td>
      <td>{{ patient.country }}</td>
      <td>{{ patient.phone }}</td>
      <td>{{ patient.status }}</td>

      {% endfor %}
</tbody>
</table> -->
</body> 



<script>

// Function to show the popup
function showPopup() {
    var popupOverlay = document.getElementById("popupOverlay");
    popupOverlay.style.display = "block";
}

// Function to close the popup
function closePopup() {
    var popupOverlay = document.getElementById("popupOverlay");
    popupOverlay.style.display = "none";
}

// Show the popup on page load
window.onload = function () {
    showPopup();
};
</script>
<script>
// JavaScript functions to handle the modal
function openModal() {
document.getElementById("myModal").style.display = "block";
}

function closeModal() {
document.getElementById("myModal").style.display = "none";
}
</script>

  

<script src="{{ url_for('static',filename='../static/assets/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{ url_for('static',filename='../static/assets/js/popper.min.js')}}"></script>
<script src="{{ url_for('static',filename='../static/assets/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='../static/assets/js/jquery.slimscroll.js')}}"></script>
<script src="{{ url_for('static',filename='../static/assets/js/Chart.bundle.js')}}"></script>
<script src="{{ url_for('static',filename='../static/assets/js/chart.js')}}"></script>
<script src="{{ url_for('static',filename='../static/assets/js/app.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>